## # Introduction
<p><img src="https://assets.datacamp.com/production/project_981/img/lego_unsplash.jpg" alt="A picture of Lego characters!"></p>
<h3 id="letslookatlegosets">Let's look at Lego sets!</h3>
<p>Lego is a household name across the world, supported by a diverse toy line, hit movies, and a series of successful video games. In this project, we are going to explore a key development in the history of Lego: the introduction of licensed sets such as Star Wars, Super Heroes, and Harry Potter.</p>
<p>It may not be widely known, but Lego has had its share of ups and downs since its inception in the early 20th century. This includes a particularly rough period in the late 90s. As described in <a href="https://www.businessinsider.com/how-lego-made-a-huge-turnaround-2014-2?r=US&IR=T">this article</a>, Lego was only able to survive due to a successful internal brand (Bionicle) and the introduction of its first licensed series: Star Wars. In the instructions panel are the two questions you will need to answer to complete this project.</p>
<p>Before diving into our analysis though, let's become familiar with the two datasets that will help you with this project:<br><br></p>
<div style="background-color: #ebf4f7; color: #595959; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:20px"><b>datasets/lego_sets.csv</b></div>
<ul>
    <li><b>set_num:</b> A code that is unique to each set in the dataset. <b><i>This column is critical, and a missing value indicates the set is a duplicate or invalid!</i></b></li>
    <li><b>set_name:</b> A name for every set in the dataset (note that this can be the same for different sets).</li>
    <li><b>year:</b> The date the set was released.</li>
    <li><b>num_parts:</b> The number of parts contained in the set.<b><i> This column is not central to our analyses, so missing values are acceptable.</i></b></li>
        <li><b>theme_name:</b> The name of the sub-theme of the set.</li>
    <li><b>parent_theme:</b> The name of the parent theme the set belongs to. Matches the `name` column of the `parent_themes` csv file.</li>
</ul>

<div style="font-size:20px"><b>datasets/parent_themes.csv</b></div>
<ul>
    <li><b>id:</b> A code that is unique to every theme.</li>
    <li><b>name:</b> The name of the parent theme.</li>
    <li><b>is_licensed:</b> A Boolean column specifying whether the theme is a licensed theme.</li>
</ul>
    </div>
<p>From here on out, it will be your task to explore and manipulate the existing data until you are able to answer the two questions described in the instructions panel. Feel free to add as many cells as necessary. Finally, remember that you are only tested on your answer, not on the methods you use to arrive at the answer!</p>
<p><em><strong>Note:</strong> If you haven't completed a DataCamp project before you should check out the <a href="https://projects.datacamp.com/projects/33">Intro to Projects</a> first to learn about the interface. In this project, you also need to know your way around <code>pandas</code> DataFrames and it's recommended that you take a look at the course <a href="https://www.datacamp.com/courses/data-manipulation-with-pandas">Data Manipulation with pandas</a>.</em></p>

In [1]:
# Use this cell to begin your analyses, and add as many cells as you would like!
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/lego-analysis/master/datasets/lego_sets.csv')
parent_theme = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/lego-analysis/master/datasets/parent_themes.csv')

In [2]:
df.head()

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space

In [3]:
parent_theme.head()

    id     name  is_licensed
0    1  Technic        False
1   22  Creator        False
2   50     Town        False
3  112   Racers        False
4  126    Space        False

### 1.What percentage of all licensed sets ever released were star wars themed?

In [29]:
df_star_wars = df[df['parent_theme'] == 'Star Wars']

In [30]:
parent_theme[parent_theme['name'] == 'Star Wars']

    id       name  is_licensed
7  158  Star Wars         True

In [31]:
round(len(df_star_wars) / len(parent_theme) * 100,2)

548.65

In [21]:
datas = pd.merge(df,parent_theme, left_on='parent_theme', right_on='name')
datas.drop(columns = 'name_y', inplace=True)
datas

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,False
...,...,...,...,...,...,...,...,...
11981,8410-1,Swampfire,2010,22.0,Ben 10,Ben 10,270,True
11982,8411-1,ChromaStone,2010,21.0,Ben 10,Ben 10,270,True
11983,8517-1,Humungousaur,2010,14.0,Ben 10,Ben 10,270,True
11984,8518-1,Jet Ray,2010,NaN,Ben 10,Ben 10,270,True
11985,8519-1,Big Chill,2010,20.0,Ben 10,Ben 10,270,True

In [33]:
licensed = datas[datas['is_licensed']]
licensed = licensed.dropna(subset=['set_num'])
star_wars = licensed[licensed['parent_theme'] == 'Star Wars']
round(star_wars.shape[0]/licensed.shape[0]*100,2)

51.65

### 2. In which year was Star Wars not the most popular licensed theme?

In [50]:
licensed_sort = licensed.sort_values('year')
#df.groupby(['col1', 'col2']).size().reset_index(name='counts')
parent_theme_sort = licensed_sort.groupby(['year','parent_theme']).size().reset_index(name='counts')

    year              parent_theme  counts
0   1999                 Star Wars      13
1   2000     Disney's Mickey Mouse       5
2   2000                 Star Wars      26
3   2001              Harry Potter      11
4   2001                 Star Wars      14
..   ...                       ...     ...
78  2017           Disney Princess       6
79  2017                 Minecraft       9
80  2017  Pirates of the Caribbean       1
81  2017                 Star Wars      55
82  2017              Super Heroes      72

[83 rows x 3 columns]

In [52]:
parent_theme_sort[parent_theme_sort['parent_theme'] == 'Star Wars'].min()

year                 1999
parent_theme    Star Wars
counts                 11
dtype: object

In [57]:
df_max = parent_theme_sort.sort_values('counts', ascending=False).drop_duplicates(['year'])
df_max.sort_values('year', inplace=True)
df_max[df_max['parent_theme'] != 'Star Wars']

    year  parent_theme  counts
82  2017  Super Heroes      72

### 3. Break down number of sets by year

In [69]:
clean_df = datas[~datas['set_num'].isnull()]
year_counts = clean_df.groupby(['year']).size().reset_index(name='counts')

In [83]:
year_counts['counts'].max()
#df[df.Column Name == df.Column Name.max()]
year_counts[year_counts.counts == year_counts.counts.max()]

    year  counts
62  2014     715

In [84]:
year_counts['counts'].min()
#df[df.Column Name == df.Column Name.min()]
year_counts[year_counts.counts == year_counts.counts.min()]

   year  counts
8  1960       3